@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
.home-section {
    background-image: url("../../assets/header-bg-img.png");
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: contain;
}
#home-content {
  display: flex;
  margin-left: 20%;
  margin-right: 5%;
  justify-content: space-between;
}
#home-content > img {
  height: 75vh;
}

#home-content > #content {
  display: grid;
  align-content: center;
  text-align: center;
  width: 40vw;
}
#home-content > #content > #heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 75px;
  color: #88e0d0;
  text-align: center;
}
#home-content > #content > #about-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
}
button {
  margin-top: 13px !important;
  width: 210px;
  height: 45px;
  left: 1018px;
  top: 556px;
  border: none;
  background: #88e0d0;
  border-radius: 15px !important;
  color: white;
  font-weight: 700;
} 


h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.aboutimg {
  height: auto;
  max-width: 100%;
  padding: 0px;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.container {
  max-width: auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 60px;
  height: 100%;
  transform: perspective(60px);
  transform-style: preserve-3d;
}

.product-card {
  max-width: 360px;
}
.product-card img {
  width: 100%;
  height: 100%;
}
.product-card:nth-child(1) {
  transform: translate3d(0, 0, -15px);
  animation-name: rotate-left;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
}
.product-card:nth-child(2) {
  transform: translate3d(0, 0, 5px);
  animation-name: rotate-center;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  filter: drop-shadow(4px 10px 10px rgba(0, 0, 0, 0.6));
}
.product-card:nth-child(3) {
  transform: translate3d(0, 0, -15px);
  animation-name: rotate-right;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-timing-function: ease-in-out;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
}

@keyframes rotate-left {
  0%, 100% {
    transform: translate3d(0, 0, -15px);
    filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  }
  33.33% {
    transform: translate3d(100%, 0, 5px);
    filter: blur(0) drop-shadow(4px 10px 10px rgba(0, 0, 0, 0.6));
  }
  66.66% {
    transform: translate3d(200%, 0, -15px);
    filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  }
}
@keyframes rotate-center {
  0%, 100% {
    transform: translate3d(0, 0, 5px);
    filter: blur(0) drop-shadow(4px 10px 10px rgba(0, 0, 0, 0.6));
  }
  33.33% {
    transform: translate3d(100%, 0, -15px);
    filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  }
  66.66% {
    transform: translate3d(-100%, 0, -15px);
    filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  }
}
@keyframes rotate-right {
  0%, 100% {
    transform: translate3d(0, 0, -15px);
    filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  }
  33.33% {
    transform: translate3d(-200%, 0, -15px);
    filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
  }
  66.66% {
    transform: translate3d(-100%, 0, 5px);
    filter: blur(0) drop-shadow(4px 10px 10px rgba(0, 0, 0, 0.6));
  }
}
@media (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .product-card:nth-child(1) {
    transform: translate3d(0, 0, -15px);
  }
  .product-card:nth-child(2) {
    transform: translate3d(0, 0, 0);
  }
  .product-card:nth-child(3) {
    transform: translate3d(0, 0, -15px);
  }

  @keyframes rotate-left {
    0%, 100% {
      transform: translate3d(0, 0, -15px);
      filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
    }
    33.33% {
      transform: translate3d(0, 100%, 5px);
      filter: blur(0) drop-shadow(4px 10px 10px rgba(0, 0, 0, 0.6));
    }
    66.66% {
      transform: translate3d(0, 200%, -15px);
      filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
    }
  }
  @keyframes rotate-center {
    0%, 100% {
      transform: translate3d(0, 0, 5px);
      filter: blur(0) drop-shadow(4px 10px 10px rgba(0, 0, 0, 0.6));
    }
    33.33% {
      transform: translate3d(0, 100%, -15px);
      filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
    }
    66.66% {
      transform: translate3d(0, -100%, -15px);
      filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
    }
  }
  @keyframes rotate-right {
    0%, 100% {
      transform: translate3d(0, 0, -15px);
      filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
    }
    33.33% {
      transform: translate3d(0, -200%, -15px);
      filter: blur(0.8px) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.2));
    }
    66.66% {
      transform: translate3d(0, -100%, 5px);
      filter: blur(0) drop-shadow(4px 10px 10px rgba(0, 0, 0, 0.6));
    }
  }
}

.about-content {
  padding-top: 100px;
  padding-bottom: 100px;
}

  @media (max-width: 1200px) {
    #home-content img {
    height: 80vh; 
    }
  }

  @media (max-width: 960px) {
    #content {
      max-width: 35vw;
    }
  }

  @media (max-width: 860px) {
    #content {
      max-width: 36vw;
    }

    #home-content img {
      height: 70vh;
      margin-left: 20px;
    }

    #home-content #content #about-text {
      font-size: 13px;
      line-height: 20px;
    }
  }

  @media (max-width: 798px) {
    #home-content #content .heading {
      line-height: 50px;
    }
  }
