.doctor-section {
  padding: 10px 0px; 
  background-image: url("../../assets/doctor-bg.png");
  background-size: 100% 80%;
  background-repeat: no-repeat;
}

.doctorheading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 68px;
  text-align: center;
  color: #88e0d0;
}